/**banner**/
.main_visual{overflow:hidden;position:relative;z-index:2;}

.main_visual .main_image{height:615px;overflow:hidden;position:relative;z-index:1;}
.main_visual .swiper-slide{display:block;width:100%;height:615px;background-repeat: no-repeat;background-position: center;}
.main_visual .swiper-slide a{display:block;width:100%;height:100%;}
.indexbanner div span{display: block;width:100%;height:100%;background-position: center;background-repeat: no-repeat;}
.banner .swiper-container .swiper-pagination{bottom: 130px;}
.weareWrap{height:450px;background: url(../images/weare.jpg) center center no-repeat #FF6600;}

/**搜索条**/
.searchbar{width: 100%;padding:30px 0;background-color: rgba(0,0,0,.5);filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#55000000',endColorstr='#55000000');position:absolute;bottom:0;z-index:100;}
.search-wabg{width: 85%;padding:5px;margin: 0 auto; background-color: rgba(255,255,255,.5);filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#55ffffff',endColorstr='#55ffffff');border-radius: 5px;}
.search-wbg{background-color: #fff;padding:1px;position: relative;}
.search-wbg .ico-search-wrap{border-right:1px solid #ddd;padding:3px 10px 3px 5px;position: absolute;top:6px;left:6px;}
.search-wbg .input-search-wrap{width:80%;padding:10px 10px 10px 50px;}
.search-wbg .btn-search-wrap{width:20%;}
.search-wbg .input-search{width:100%;}
.search-wbg .btn-search-wrap .btn-orange-fill{width:100%;height:41px;line-height:40px;display: block;text-align: center;}

/**首页标题们**/
.indextitle{margin-bottom:10px;text-align: center; position: relative;z-index: 3;}

/**产品展示**/
.productWrap{width: 100%;min-height:300px;background: url(../images/s1bg.jpg) center center;background-size: 100%;position: relative;padding: 50px 0 150px;}
.productWrap .productblock{background-color:#fff;padding:30px;position: relative;z-index: 2;min-height: 473px;}
.productWrap .productblock ul{position: relative;z-index: 2;min-height: 300px;margin-left: -1.3%;}
.productWrap .productblock li{width:32%;float: left;margin-left: 1.3%;}
.productWrap .productblock li .img-block{position: relative;}
.productWrap .productblock li .img-block i{position:absolute;z-index:20;left: 10px;top: 0; width:56px;height:43px;background:url(../images/icons.png);font-size: 16px;color:#fff;line-height: 35px; font-style: normal;text-align: center;}
.productWrap .productblock li .img-block i.new{background-position: -150px 0;color:#000;}
.productWrap .productblock li .img-block i.hot{background-position: -250px 0;}
.productWrap .productblock li .img-block img{width:100%;height:230px;}
.productWrap .productblock li .img-block .price{background-color:#000;position:absolute;right:0;bottom:10px;}
.productWrap .productblock li .param-block{height:70px;padding:10px 0;overflow: hidden;}
.productWrap .productblock li .param-block .tit-txt{width:65%;overflow : hidden;}
.productWrap .productblock li .param-block .tit-txt a{display: block;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.productWrap .productblock li.productbig .img-block img{width:100%;height:510px;}
.productWrap .productblock li.productbig .tit-txt{height:55px;padding:5px 0;font-size:16px;overflow : hidden;}
.productWrap .productblock li.productbig .tit-txt a{display: block;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.productWrap .productblock li.productbig .param-block{height:auto;padding:0;}
.productWrap .productblock li.productbig .landmark{margin-left:15px;line-height:32px;}
.productWrap .p-bg,.productWrap .pb-bg{display:block;position: absolute;}
.productWrap .p-bg1{width:224px;height:255px;background:url(../images/p-bg1.png);left:0;top:50px;}
.productWrap .p-bg2{width:257px;height:274px;background:url(../images/p-bg2.png);right:0;bottom:0;}
.productWrap .pb-bg1{width:540px;height:473px;background:url(../images/bp-bg1.png);left:-56px;top:-10px;}
.productWrap .pb-bg2{width:502px;height:358px;background:url(../images/bp-bg2.png);right:-43px;bottom:-36px;}

/**创客**/
.makerWrap{padding:40px 0;background: url(../images/zcb.png) center top no-repeat #f60;background-size: 100%;}
#focus_Box{position:relative;width:1140px;left:50%;margin-left:-570px;margin-top:50px}
#focus_Box ul{position:relative;width:1140px;height:300px}
#focus_Box li{z-index:0;position:absolute;width:0;background:#000;height:0;top:146px;cursor:pointer;left:377px;overflow:hidden;border:5px solid #fff;}
#focus_Box li img{width:100%;height:100%;vertical-align:top;}
#focus_Box li .focus-hover{position:absolute;left:0;bottom:-147px;width:100%;height:60px;line-height:40px;background:url(../images/float-bg.png) repeat;color:#fff;}
#focus_Box li p span{display:inline-block;width:70%;height:40px;overflow:hidden}
#focus_Box .next,#focus_Box .prev{display:block;z-index:100;overflow:hidden;cursor:pointer;position:absolute;width:60px;height:128px;top:60px}
#focus_Box .prev{background:url(../images/btn.png) left bottom no-repeat;left:-80px}
#focus_Box .next{background:url(../images/btn.png) right bottom no-repeat;right:-80px}
#focus_Box .prev:hover{background-position:left top}
#focus_Box .next:hover{background-position:right top}
#focus_Box a.imgs-scroll-btn{display:block;position:absolute;z-index:110;top:7px;right:15px;width:51px;height:23px;overflow:hidden;background:url(images/share-btn.png) no-repeat;text-indent:-999px}
#focus_Box .focus-title{font-size:18px;margin-top:10px;text-align: center;color:#fff;}
#focus_Box .focus-con{line-height:20px;padding:15px 20px;font-size:13px;color:#a1a1a1;height:122px;overflow:hidden;}

.focus_boxw{display: none;}
.swiper-container1{padding:10px 0 30px;}
.swiper-container1 .swiper-slide{background-position: center;background-size: cover;position: relative;}

.focus_boxw .focus-title{position:absolute;left:0;bottom:0;width:100%;height:35px;line-height:35px;background:url(../images/float-bg.png) repeat;color:#fff;text-align: center;}
.focus_boxw .swiper-pagination-bullet-active{background-color: #ffff00;}

/**服务**/
.serviceWrap{padding: 40px 0;overflow: hidden;background: url(../images/sbg.png) center top no-repeat;background-size: 100%;}
.serviceWrap .quote{min-height: 100px;margin:25px auto;position: relative;}
.serviceWrap .quote i{font-size:50px;color:#ccc;position:absolute;left:0;top:0;}
.serviceWrap .quote .say{font-size:32px;color:#484848;margin-left:65px;}
.serviceBlock{min-height: 400px;margin-top:70px;}
.hex{ width: 16.6%; float: left; position: relative;min-height: 231px;margin-top: -60px;}
.hex.on{background:url(../images/border.png) center center no-repeat;background-size: 100%;}
.hex:nth-child(11n-4){ margin-left: 8.3%; }
.hex:last-child{background:none;}
.hex:last-child .hexagon-in2{webkit-box-shadow:none;box-shadow:none;}
.hex:last-child .overlay a{font-size: 46px;}
.hexagon2 {position: absolute;width: 95%;height: 100%;top: 0;left:5px;}
.hexagon {overflow: hidden;visibility: hidden;-webkit-transform: rotate(120deg);-moz-transform: rotate(120deg);-o-transform: rotate(120deg);-ms-transform: rotate(120deg);transform: rotate(120deg);cursor: pointer;webkit-box-shadow: inset 0 0 0 5px #f90;}
.hexagon-in1 {overflow: hidden;width: 100%;height: 100%;-webkit-transform: rotate(-60deg);-moz-transform: rotate(-60deg);-o-transform: rotate(-60deg);-ms-transform: rotate(-60deg);transform: rotate(-60deg);}
.hexagon-in2 {overflow: hidden;width: 100%;height: 100%;background-repeat: no-repeat;background-position: 50%;-webkit-background-size: 125%;-moz-background-size: 125%;background-size: 125%;visibility: visible;-webkit-transform: rotate(-60deg);-moz-transform: rotate(-60deg);-o-transform: rotate(-60deg);-ms-transform: rotate(-60deg);transform: rotate(-60deg);
-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;-ms-transition: all 0.5s ease;transition: all 0.5s ease;webkit-box-shadow: inset 0 0 0 200px rgba(36,36,36, 0.7);box-shadow: inset 0 0 0 200px rgba(36,36,36, 0.7);}
.hex.on .hexagon-in2{webkit-box-shadow:none;box-shadow:none;}
.hex.on .hexagon-in2 .overlay a{visibility: hidden;}
.hex.on:last-child .hexagon-in2:hover .overlay a{visibility:visible;}
.gallery-item .overlay {position: absolute;top: 0;left: 0;width: 100%;min-width: 100%;min-height: 100%;height: 100%;display: block;text-align: center;-webkit-transition: all 50ms ease-in-out;-moz-transition: all 50ms ease-in-out;-ms-transition: all 50ms ease-in-out;-o-transition: all 50ms ease-in-out;transition: all 50ms ease-in-out;}
.gallery-item .overlay a {color: #fff;font-size: 30px;line-height: 32px;position: absolute;display: block;width:100%;top: 50%;left:0;margin-top: -16px;}

.activeWrap{background-color: #f8f8f8;}
.activeWrap .w1200{background-color: #fff; padding:20px;position: relative;}
.activeBlock{margin-top:80px;}
.activeBlock li{position: relative;float: left;width:25%;margin-bottom:15px;}
.activeBlock li .img-block{width:95%;height:339px;margin:0 auto;overflow: hidden;}
.activeBlock li .img-block img{width:100%;}
.activeBlock li .txt-block{position:absolute;width:95%;bottom:0;left:2.5%;padding:15px;overflow:hidden;
filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorStr='#1100000', endColorStr='#99000000'); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.9) 100%); 
}
.activeBlock li .txt-block a{color:#fff;}
.activeBlock li .txt-block a:hover{color:#f90;}

.reservationWrap{background: url(../images/pepoles1.png) center bottom no-repeat;height:290px;border-top:1px solid #ddd;padding:60px 0;background-size:auto 100%;}
.reservationWrap h4{font-size:36px;}
.reservationWrap p{margin-top:40px;}


